.layout{
    min-height:100vh;
    /* padding: 0 1.5rem; */
    color: var(--main-text-color);
    background: var(--main-background-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.add-tweet-btn{
    position:fixed;
    right:2rem;
    bottom:6rem;
    z-index:100;
}

@media(min-width:700px){

    .layout{
       padding-left: 10rem;
    }
    

    .add-tweet-btn{
        display:none;
    }
}