.modal-sec{
    min-height:100%;
    min-width:100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: var(--overlay-background-color);
position:fixed;
top:0;
left:0;
z-index:10;}

.modal{
    width:90vw;
    height:50vh;
    padding:1rem;
    background: var(--main-background-color);
}

@media(min-width:700px){
    .modal{
    width:45vw;
    height:50vh;}
}